html {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, transparent, #313133), url('../images/background3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.back-row {
  bottom: 60px;
  display: none;
  opacity: 0.5;
  z-index: 1;
}

.drop {
  background-image: url('../images/piggy.png');
  height: 50px;
  left: 5%;
  position: absolute;
  top: 0;
  width: 50px;
}
